# Compiled Object files
*.slo
*.lo
*.log
*.pyc
*.o
/bin
/_site

# Compiled Dynamic libraries
*.so
*.dylib

.idea

# Compiled Static libraries
*.lai
*.la
*.a

# makefile automake + autoconf and tools
Makefile.am
Makefile.in
autom4te.cache/
config.status
configure.ac
*.cmake
CMakeFiles
CMakeCache.txt
